body{

}
div{
    border: 0.1em solid gray;
    text-align: center;
    padding: 100px 200px;
}
h1{
    text-transform: uppercase;
}
h2{
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(0, 119, 255);
}
p{
    text-align: justify;
}
h3{
    font-style: italic;
    text-align: left;
    font-size: 16px;
}
li{
    text-align: justify;
    margin-bottom: 25px;
}
img{
    width: 150px;
    display: block;
    margin-inline: auto;

}


